# use for docker
# <!-- CORAL_SSE_URL=http://host.docker.internal:5555/devmode/exampleApplication/privkey/session1/sse -->
# use for local mode
CORAL_SSE_URL= http://localhost:5555/devmode/exampleApplication/privkey/session1/sse
CORAL_AGENT_ID="repo_doc_consistency_checker_agent"